<app-actions-buttons />

<ag-grid-angular
[rowData]="rowData"
[columnDefs]="colDefs" />


<!-- 
<ag-grid-angular
  class="ag-theme-quartz flex-grow-1"
  [rowData]="rowdata"
  [loading]="loading()"
  [floatingFiltersHeight]="34"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [detailRowAutoHeight]="true"
  [masterDetail]="true"
  [suppressCellFocus]="true"
  grandTotalRow="bottom"
  (selectionChanged)="onSelectionChanged($event)"
  (gridReady)="onGridReady($event)" /> -->
